



/*
    max-width : tamanho max da tela em pixels 
    min-width : tamanho min da tela em pixels 
    Dentro você coloca as classes que só funcionarão pra esse tamanho de tela


*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

     #img-home{

        width: 250px !important;
        
    }
     .area-principal{
    width:100%;  
    background: url('../img/ICEBERA3.png') no-repeat; 
    padding-top: 225px;
    padding-bottom: 225px;"
    }
    .small{

    background: url('../img/ICEBERA3.png') no-repeat !important;
    height: 60px;
    color: #000 !important;
    
    line-height: 75px;
    transition: all 0.3s;


    }



} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #img-home{
        width: 300px  !important;
        
    }
    .area-principal{
    width:100%;  
    background: url('../img/ICEBERA3.png') no-repeat; 
    padding-top: 225px;
    padding-bottom: 225px;"
    }
    .small{

    background: url('../img/ICEBERA3.png') no-repeat !important;
    height: 60px;
    color: #000 !important;
    
    line-height: 75px;
    transition: all 0.3s;


    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     #img-home{
        width: 400px  !important;
        
    }
    .area-principal
    {
        width:100%;  
        background: url('../img/ICEBERA2.png') no-repeat; 
        padding-top: 225px;
        padding-bottom: 225px;"
    }
    .small
    {

        background: url('../img/ICEBERA2.png') no-repeat !important;
        height: 60px;
        color: #000 !important;
        
        line-height: 75px;
        transition: all 0.3s;


    }


} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #img-home{
        width: 300px  !important;
        
    }
        .area-principal{
    width:100%;  
    background: url('../img/ICEBERA2.png') no-repeat; 
    padding-top: 225px;
    padding-bottom: 225px;"
    }
    .small{

    background: url('../img/ICEBERA2.png') no-repeat !important;
    height: 60px;
    color: #000 !important;
    
    line-height: 75px;
    transition: all 0.3s;


    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #img-home
    {
        width: 600px  !important;
        
    }
    .area-principal{
    width:100%;  
    background: url('../img/ICEBERA2.png') no-repeat; 
    padding-top: 225px;
    padding-bottom: 225px;"
    }
    .small{

    background: url('../img/ICEBERA2.png') no-repeat !important;
    height: 60px;
    color: #000 !important;
    
    line-height: 75px;
    transition: all 0.3s;


    }


}

@media only screen and (min-width: 1375px) {
    #img-home
    {
        width: 600px  !important;
        
    }
    
    .area-principal{

        background: url('../img/ICEBERA.png') ;
        padding-top: 225px;
        padding-bottom: 225px;"
    }
    
    .small
    {

        background: url('../img/ICEBERA.png')  !important;
        height: 60px;
        color: #000 !important;
        line-height: 75px;
        transition: all 0.3s;
    }

}